@model DepartmentCreateViewModel
@inject IDepartmentRepository deprepo
@* @{
    CountryRepository countryRepository = new CountryRepository();

    ViewBag.Countries = countryRepository.GetAll();
   
} *@
<h2>
    Total Depts: 
    @deprepo.GetDepartments().Count.ToString()
</h2>
<form enctype="multipart/form-data" asp-action="create" asp-controller="dept" method="post">
    
    <div class="mb-3">
        <label asp-for="Id" class="form-label">Department No</label>
        <input type="hidden" class="form-control" asp-for="Id" />
        
    </div>
    <div class="mb-3">
        <label asp-for="DName" class="form-label"></label>
        <input type="text" class="form-control" asp-for="DName">
        <span asp-validation-for="DName" class="text-danger"></span>


    </div>
    <div class="mb-3">
        <label asp-for="Country" class="form-label">Country</label>
        <select onchange="getStates()" class="form-select" asp-for="CId" asp-items="@(new SelectList( ViewBag.Countries,"Id","Name"))"></select>
       
    </div>
    <div class="mb-3">
        <label  class="form-label">States</label>
        <select class="form-select" id="States" name="States" onchange="getDist()"></select>
        <input type="hidden" asp-for="SId" value="1"/>
    </div>
    <div class="mb-3">
        <label asp-for="Loc" class="form-label">Location</label>
        <select  class="form-select" asp-for="Loc" asp-items="Html.GetEnumSelectList<Location>()"></select>
        <span asp-validation-for="Loc" class="text-danger"></span>
        
       @*  <select class="form-select" asp-for="Loc">
            <option value="0">None</option>
            <option value="PKL">Panchkula</option>
            <option value="MHL">Mohali</option>
            <option value="CHD">Chandigarh</option>

        </select> *@

    </div>
    <div class="form-group row">
        <label asp-for="CoverImage" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="CoverImage" class="form-control custom-file-input">
                <label class="custom-file-label">Choose Cover Image</label>
            </div>

        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
@section Scripts{

    <script src="~/js/customscript.js"></script>
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                alert($(this).val().split("\\"));
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            });
        });

    </script>

}
