@model Department
@inject IDepartmentRepository deprepo
@{
    CountryRepository countryRepository = new CountryRepository();

    ViewBag.Countries = countryRepository.GetAll();
}
<h2>
    Total Depts: 
    @deprepo.GetDepartments().Count.ToString()
</h2>
<form asp-action="create" asp-controller="dept" method="post">
    <div class="mb-3">
        <label asp-for="Id" class="form-label">Department No</label>
        <input type="hidden" class="form-control" asp-for="Id" />
        
    </div>
    <div class="mb-3">
        <label asp-for="DName" class="form-label"></label>
        <input type="text" class="form-control" asp-for="DName">
        <span asp-validation-for="DName" class="text-danger"></span>


    </div>
    <div class="mb-3">
        <label asp-for="Country" class="form-label">Country</label>
        <select onchange="getStates()" class="form-select" asp-for="Country" asp-items="@(new SelectList( ViewBag.Countries,"Id","Name"))"></select>
    </div>
    <div class="mb-3">
        <label asp-for="State" class="form-label">States</label>
        <select class="form-select" asp-for="State"></select>
    </div>
    <div class="mb-3">
        <label asp-for="Loc" class="form-label">Location</label>
        <select  class="form-select" asp-for="Loc" asp-items="Html.GetEnumSelectList<Location>()"></select>
        <span asp-validation-for="Loc" class="text-danger"></span>
        
       @*  <select class="form-select" asp-for="Loc">
            <option value="0">None</option>
            <option value="PKL">Panchkula</option>
            <option value="MHL">Mohali</option>
            <option value="CHD">Chandigarh</option>

        </select> *@

    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
@section Scripts{

    <script src="~/js/customscript.js"></script>
}
